<header>
    <nav class="navbar">
        <a class="navbar-brand" href="/home/index">
            <img src="~/Images/Logo.png" class="Logo">
        </a>
        <form class="d-flex">
            <div class="doctor-name-nav-form">
                <div class="name">
                    Docteur
                    <b id="doc-name">Mohamed Talibi</b>
                </div>
                <img src="~/Images/ashkan-forouzani-DPEPYPBZpB8-unsplash.jpg" class="Doctor-name-img" id="doc-image">
            </div>
        </form>
    </nav>
</header>
